.editor {
  height: 100%;
}

.title-pane {
  width: 100%;
  height: 40px;
  padding: 20px;
  background: #fafafa;
}

.editor-pane, .preview-pane {
  float: left;
  width: 50%;
  height: calc(100% - 80px);
}

.editor .title-form input {
  width: 90%;
}

.editor .CodeMirror {
  font-family: 'Source Code Pro', 'Inconsolata-g', Consolas, Menlo, monospace;
  font-size: 14px;
  line-height: 20px;
  height: 100%;
}

.editor .preview-pane {
  overflow: auto;
}