.editor {

}

.editor .title-form input {
  width: 90%;
}

.editor .CodeMirror {
  font-family: 'Source Code Pro', 'Inconsolata-g', Consolas, Menlo, monospace;
  font-size: 14px;
  line-height: 20px;
  height: 400px;
}

.editor .preview-container {
  border-top: 5px solid #ccc;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}