.navbar {
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  margin: 0;
  border: 0;
  background: #ccc;
}

.navbar ul {
  margin: 0;
  padding: 5px 0 0 0;
}

.navbar .pure-menu-left {
  float: left;
}

.navbar .pure-menu-right {
  float: right;
  padding-right: 10px;
}

.pure-form.search-form input {
  width: 255px;
  font-size: 12px;
  padding: 6px 10px;
}