<!doctype html>
<html lang="en" ng-app="markdownApp">
<head>
  <meta charset="utf-8">
  <title>Markie, from Divshot</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
  <link rel="stylesheet" href="/bower_components/pure/pure.css">
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css"/>
  <link rel="stylesheet" href="/bower_components/codemirror/lib/codemirror.css"/>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/styles/app.css"/>
  <script src="/__/env.js"></script>
</head>
<body ng-cloak>
  <section class="main">
    <aside class="browser" ng-controller="BrowserCtrl">
      <div class="file" ng-click="select(file.id)" ng-class="{ selected: file.id == selectedFile }" ng-repeat="file in files">
        <span class="title">{{file.title}} <span class="modified" am-time-ago="file.modified"></span></span>
        <p>{{file.content | cut:false:120}}</p>
      </div>
      <button ng-click="create()" class="pure-button">New File</button>
      <button ng-click="delete()" class="pure-button button-error">Delete</button>
    </aside>
    <div class="content" ui-view></div>
  </section>

  <footer class="container">

  </footer>

  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/lodash/dist/lodash.underscore.js"></script>
  <script src="/bower_components/highlightjs/highlight.pack.js"></script>
  <script src="/bower_components/moment/moment.js"></script>
  <script src="/bower_components/marked/lib/marked.js"></script>
  <script src="/bower_components/codemirror/lib/codemirror.js"></script>
  <script src="/bower_components/codemirror/mode/markdown/markdown.js"></script>

  <script src="/bower_components/angular-animate/angular-animate.js"></script>
  <script src="/bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="/bower_components/angular-moment/angular-moment.js"></script>
  <script src="/bower_components/angular-local-storage/angular-local-storage.js"></script>

  <script src="/scripts/app.js"></script>
  <script src="/scripts/config.js"></script>
  <script src="/scripts/controllers/main.js"></script>
  <script src="/scripts/controllers/browser.js"></script>
  <script src="/scripts/directives/markdown-editor.js"></script>
  <script src="/scripts/services/files.js"></script>
  <script src="/scripts/filters/cut.js"></script>
  <script src="/scripts/filters/filename.js"></script>
</body>
</html>
