<div ng-if="!selectedFile">
  <h1>Markie, from Divshot</h1>
  <p>To get started, click the "New File" button.</p>
  <p>Nulla condimentum nulla est, vel elementum nunc rhoncus id. Donec enim nunc, blandit at orci mattis, lobortis hendrerit nunc. Sed a tristique orci, eu convallis sem. Pellentesque lacinia in ante a semper. Phasellus ac felis et augue convallis viverra sed vel eros. Nam porttitor id ligula vel placerat. Nullam sed lorem felis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec sapien justo, viverra id libero at, pretium posuere urna.</p>
  <p>Duis et libero vestibulum, pulvinar purus vel, ornare urna. Quisque risus risus, feugiat vitae massa eu, imperdiet luctus est. Cras ut fermentum tortor. Morbi ante lacus, bibendum nec libero a, posuere fringilla nibh. Quisque est augue, placerat a tortor id, mattis mollis eros. Phasellus et felis lorem. Etiam ut nulla quis massa eleifend rutrum.</p>
</div>

<markdown-editor file="{{selectedFile}}" ng-if="selectedFile"></markdown-editor>